@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
 .header{
    --color-1: #222221;
}
 body{
	font-family: sans-serif;
	background-color: #e8eef3;
} 
.header{
	box-sizing: border-box;
	margin:0;
	padding:0;
}
ul{
	list-style: none;
}
a{
	text-decoration: none;
}
.hcontainer{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
.align-items-center{
	align-items: center;
}
.justify-content-between{
	justify-content: space-between;
}
/*header*/
.header{
	background-color: var(--color-1);
	padding: 8px 0;
	line-height: 1.5;
}

.header .logo ul li{
 display: inline-block;
	margin-left: 0px;
}
.header .nav{
	padding:0px 0px;
}
.header .logo ul li i{
  display: block;
	font-size: 20px;
	color: #ffffff;
	text-transform: capitalize; 
  padding: 5px 0;
}
.header .logo ul li img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}
.header .nav ul li{
	display: inline-block;
	margin-left: 40px;
}
.header .nav ul li a{
	display: block;
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	padding: 10px 0;
	transition: all 0.5s ease;
}
.header .nav ul li a.active,
.header .nav ul li a:hover{
	color: #E5D9B6;
}
.nav-toggler{
	height: 34px;
	width: 44px;
	background-color: #ffffff;
	border-radius: 4px;
	cursor: pointer;
	border:none;
	display: none;
	margin-right: 15px;
}
.nav-toggler:focus{
	outline: none;
	box-shadow: 0 0 15px rgba(255,255,255,0.5);
}
.nav-toggler span{
    height: 2px;
    width: 20px;
    background-color: var(--color-1);
    display: block;
    margin:auto;
    position: relative;
    transition: all 0.3s ease;
}
.nav-toggler.active span{
	background-color: transparent;
}
.nav-toggler span::before,
.nav-toggler span::after{
	content: '';
	position: absolute;
	left:0;
	top:0;
	width: 100%;
	height: 100%;
	background-color: var(--color-1);
	transition: all 0.3s ease;
}
.nav-toggler span::before{
	transform: translateY(-6px);
}
.nav-toggler.active span::before{
	transform: rotate(45deg);
}
.nav-toggler span::after{
	transform: translateY(6px);
}
.nav-toggler.active span::after{
	transform: rotate(135deg);
}
@media(max-width:991px){
   .nav-toggler{
   	display: block;
   }
   .header .nav{
   	width: 100%;
   	padding:0;
   	max-height: 0px;
   	overflow: hidden;
   	visibility: hidden;
   	transition: all 0.5s ease;
   }
   .header .nav.open{
   	visibility: visible;
   }
   .header .nav ul{
   	padding:12px 15px 0;
   	margin-top: 12px;
   	border-top:1px solid rgba(255,255,255,0.2);
   }
   .header .nav ul li{
   	display: block;
   	margin:0;
   }
} 





body{
	line-height: 1.5;
	font-family: 'Poppins', sans-serif;
}
*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
.fcontainer{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #222221;
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #20e948;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}

/* .middle{
	background-color: #e2e4e9;
    padding: 100px 0;
}

.centerim {
  display: block;
  margin-left: 200px;
  margin-right: auto;
  width: 50%;
  padding:20px;
  
}

.mid1{
  background-color: #131417;
} */

.flexone{flex: 1;}

.groups{margin: 0 auto;width: 780px;padding: 10px;height: auto;}
.groups li{position: relative;list-style: none;background: #222221;border-radius: 5px;
    box-shadow: 0 3px 4px 0 #0001;overflow: hidden;margin-bottom: 30px;transition: all 0.3s;}
.groups li:hover{transform: scale(1.04);box-shadow: 0 4px 14px 0 #0005;}
.groups .card{overflow: hidden;display: block;}
.groups .image-session{float: left;overflow: hidden;margin-right: 20px;}
.groups .image-session .image{width: 280px;height: 220px;display: block;background-size: cover;
    background-position: center;}
.groups .meta-sission{position: relative;padding: 15px;display: block;height: 220px;}
.groups .meta-sission .head{display: flex;margin-bottom: 10px;}
.groups .meta-sission .head .catogry{list-style: none;text-decoration: none;font-size: 14px;
    font-weight: 600;color: #E5D9B6;}
.meta-sission .head .per span,
.meta-sission .head .per input{display: block;font-size: 10px;text-align: right;color:#8ddd88}
.meta-sission .head .per input{-webkit-appearance: none;height: 5px;border-radius: 5px;background: #8ddd88;
    margin-bottom: 4px;overflow: hidden;}
.meta-sission .head .per input::-webkit-slider-thumb{-webkit-appearance: none;width: 0;
    box-shadow: -100px 0 0 100px #d7c58e;}
.groups .body .title{height: 50px;overflow: hidden;font-size: 24px; color:#fff}
.groups .body .desc{height: 80px;overflow: hidden;margin-bottom: 10px;font-size: 13px;color:#fff}
.groups .foooter .button{position: absolute;bottom: 20px;right: 25px;background: #d7c58e;color: #fff;
    line-height: 2.2;padding: 0 20px;border-radius: 50px;text-decoration: none;
    box-shadow: 0 1px 6px 0 #0004;transition: all 0.3s;}
.groups .foooter .button:hover{box-shadow: 0 3px 8px 0 #0005;background: #8ddd88;right: 15px;}
.groups .foooter .views{display: block;font-size: 12px;margin-top: 40px;}

@media screen and (max-width:780px){.groups{    width: 96%;}
    .groups li:hover{    transform: none;    box-shadow: none;}
}
@media screen and (max-width:560px){.groups .image-session{    float: none;    margin-right: 0;}
    .groups .image-session .image{width: 100%;}
}

.article-contener{
  background:#000;
}


.services{
	width:100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	background-color: #000;
}
.s-heading{
	text-align:center;
}
.s-heading h1{
	color:#576975;
	font-size: 3rem;
	font-weight: 400;
	letter-spacing: 1px;
	margin: 0px;
}
.s-heading p{
	color: rgba(87,105,117,0.60);
	font-size: 1rem;
	margin: 5px;
	text-align: center;
}
.s-box-container{
	width:100%;
	display: flex;
	justify-content: center;
	align-items: center;
  
}
.s-box{
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
	width:300px;
	padding: 20px 25px;
	height: 400px;
	box-sizing: border-box;
	margin: 30px;
	position: relative;
  background-color:#222221;
}
.s-box img{
	height: 200px;
}
.s-box h1{
	color:#576975;
	letter-spacing: 1px;
	font-size: 1.5rem;
	margin-bottom: 8px;
	
}
.s-box p{
	color: rgba(87,105,117,0.90);
	text-align: center;
}
.s-btn{
	width: 140px;
	height: 40px;
	border-radius: 20px;
	border:1px solid rgba(74,144,226,0.50);
	display: flex;
	justify-content: center;
	align-items: center;
	color:#576975;
	margin-top:10px; 
}
.bar{
	width: 100px;
	height: 6px;
	position: absolute;
	left: 50%;
	top: 0%;
	transform: translateX(-50%);
	background-color:#bfca5c; 
	border-radius: 0px 0px 10px 10px;
	display: none;
	animation: bar 0.5s;
}
.s-box:hover{
	box-shadow: 2px 2px 30px rgba(71, 127, 89, 0.08);
	transition: all ease 0.3s;
}
.s-btn:hover{
	background-color:#badc40;
	border: 1px solid#b6e053;
	color:#FFFFFF;
	transition: all ease 0.3s;
}
.s-box:hover .bar{
	display: block;
}
@keyframes bar{
	0%{
		width:0px;
	}
	100%{
		width:100px;
	}
}
@media(max-width:1050px){
	.s-box-container{
		flex-wrap: wrap;
		
	}	
	.services{
		height: auto;
	}
	.s-heading{
		margin: 15px;
	}
	.s-box{
		flex-grow: 1;
	}
	
}




.team{
	position: relative;
	width: 100%;
	height: 100vh;
	background-color: black;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.team-content{
	width: 100%;
	max-width: 1350px;
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(150px, auto));
	align-items: center;
	gap: 2rem;
	text-align: center;
	margin-top: 4rem;
}
.team-content img{
	width: 100%;
	height: auto;
	border-radius: 15px;
	margin-bottom: 15px;
}

.team-content .icons img{
	height: 50px;
	width: 50px;
}
.center h1{
	color: #fff;
	font-size: 4rem;
	text-align: center;
}
.team-content .box{
	padding: 16px;
	background: #1b1229;
	border-radius: 15px;
	transition: all .38s ease;
}
.team-content .box h3{
	font-size: 23px;
	font-weight: 600;
	color: #fff;
	margin-bottom: 8px;
}
.team-content .box h5{
	font-size: 15px;
	font-weight: 600;
	color: #b7b4bb;
	margin-bottom: 15px;
	letter-spacing: 2px;
}
.team-content .icons i{
	display: inline-block;
	color: #fff;
	font-size: 20px;
	margin: 0 8px;
	transition: all .38s ease;
}
.team-content .icons i:hover{
	transform: scale(1.2);
}
.team-content .box:hover{
	transform: translateY(-10px);
	cursor: pointer;
}

@media(max-width: 1240px){
	.team-content .team{
		width: 100%;
		height: auto;
		padding: 90px 2%;
	}
	.team .center h1{
		font-size: 3.2rem;
	}
}


.empty-head{
	height: 5mm;
	background-color: #000;
}



h3, .h3{
	font-family: "Oswald", sans-serif !important;
	color: #fff;
	text-transform: uppercase; }
  
  .text-black {
	color: rgb(244, 234, 234); }
  
  .content {
	padding: 7rem 0;
	font-family: "Roboto Mono", monospace;
	background-color: rgb(0, 0, 0);
	line-height: 1.5; 
  }

  .container{
	display: flex;
  justify-content: center;
  
  }
  
  .thin-heading {
	font-weight: 300;
	font-size: 40px; }
  
  .form-control {
	border: none;
	border-bottom: 1px solid #ccc;
	padding-left: 0;
	padding: 0;
	border-radius: 0px; 
	background-color: #000;
  }
	.form-control:active, .form-control:focus {
	  outline: none;
	  -webkit-box-shadow: none;
	  box-shadow: none;
	  border-color: #000; }
  
  .col-form-label {
	color: #000; }
  
  .btn, .form-control, .custom-select {
	height: 50px; }
  
  .custom-select:active, .custom-select:focus {
	outline: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	border-color: #000; }
  
  
  
  .btn {
	border: 1px solid #cccccc;
	border-radius: 15px; 
}
	.btn.btn-primary {
	  background: #000;
	  color: #fff;
	  padding: 15px 10px; }
	.btn:hover {
	  color: rgb(132, 205, 239);
	 }
	.btn:active, .btn:focus {
	  outline: none;
	  -webkit-box-shadow: none;
	  box-shadow: none; }
  
  .box {
	padding: 40px;
	background: #fff;
	-webkit-box-shadow: -30px 30px 0px 0 rgba(0, 0, 0, 0.08);
	box-shadow: -30px 30px 0px 0 rgba(0, 0, 0, 0.08); }
	.box h3 {
	  font-size: 14px;
	  margin-bottom: 30px;
	  text-align: center; }
  
  
  #message {
	resize: vertical; }
  
  
  
  .submitting {
	float: left;
	width: 100%;
	padding: 10px 0;
	display: none;
	font-weight: bold;
	font-size: 12px;
	color: #000; }
  
	input[type="text"], textarea {
  
	  background-color : #000; 
	}
  
	.col-md-4{
		padding-right: 100px;
		padding-bottom: 50px;
	}

	.col-md-6{
		padding-right: 100px;
		padding-bottom: 50px;
	}

	.col-12{
		padding-top: 15px;
	}

	input, select, textarea{
		color: #fff;
	}